<div class="quiz">

  
  
  <div class="quiz__title">
    Do your best!
  </div>

  <div class="quiz__progress-bar">
    <div class="progress-bar">
      <div class="progress-bar__line" style={{concat "width:" this.progress "%"}} />
    </div>
  </div>

  <div class="quiz__question">
    {{this.currentQuestion.text}}
  </div>

  <form class="quiz__form {{if this.isSubmitted 'quiz__form_submitted'}}" {{on "submit" this.checkAnswer}}>
    <div class="quiz__answers">
      {{#each this.currentQuestion.options as |option|}}
        <label class="quiz__answer {{
          if this.isSubmitted
          (if (eq option.value this.currentQuestion.correctAnswer) 'quiz__answer_correct'
             (if (eq option.value this.selectedAnswer) 'quiz__answer_wrong' ''))
        }}">
          <input
            type="radio"
            name="quiz-answer"
            value={{option.value}}
            checked={{eq this.selectedAnswer option.value}}
            {{on "change" (fn this.setAnswer option.value)}}
            disabled={{or this.isSubmitted this.isLoading}}
          >
          {{option.text}}
        </label>
      {{/each}}
    </div>

    <div class="quiz__actions">
      <button
        type="submit"
        class="button"
        disabled={{or this.isSubmitted (not this.selectedAnswer) this.isLoading}}
      >
        {{if this.isLoading "Checking..." "Check"}}
      </button>
      <button
        disabled={{or (not this.isSubmitted) this.isLoading}}
        type="button"
        class="button button_green"
        {{on "click" this.nextQuestion}}
      >
        {{if this.isLastQuestion "Done" "Next question"}}
      </button>
    </div>
  </form>


{{!--  {{#if this.isSubmitted}}-->
<!--    <div class="quiz__feedback {{if this.isCorrect "quiz__feedback_correct" "quiz__feedback_wrong"}}">-->
<!--      {{if this.isCorrect "Nice!" "Wrong"}}-->
<!--      {{#unless this.isCorrect}}-->
<!--        <div class="quiz__correct-answer">-->
<!--          Correct answer: {{this.currentQuestion.correctAnswer}}-->
<!--        </div>-->
<!--      {{/unless}}-->
<!--    </div>-->
<!--  {{/if}}--}}

</div>